*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.post-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.post-content img {
    position: absolute;
    width: 100%;
    z-index: 1;
}
